@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --bone: #E3DAC9;
}

body {
    background: black;
    font-family: "DM Sans", sans-serif;
    color: var(--bone);
    padding: 0;
    margin: 0;
}

section {
    min-height: 50vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

textarea {
    background-color: var(--bone);
}