body {
    font-family: 'DM Sans', sans-serif;
    background-color: #292E1E;
    color: white;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
}

.dblue {
    background: #5c6b8a;
  }
.lblue {
    background: #a2b8d2;
    color: #292E1E;
  }
.cream {
    background: #f5c9a8;
    color: #292E1E;
  }
.orange {
    background: #f07838;
  }
.red {
    background: #ba4c40;
  }